<h1>広島市消防局</h1>

<div class="">
  <div class="citizen_main">
  </div>

  <div class="admin_main">
    <div class="admin_login">
      <%= link_to "管理者ログインはこちら", new_admin_user_session_path %>
    </div>
  </div>

</div>