<h1>○○市消防局</h1>
<div class="body-main">
  <div class="body-nav-bar">
    <ul class="process-nav">
      <li>行政区の選択</li>
      <li>日時の選択</li>
      <li>予約詳細内容入力</li>
      <li>予約完了</li>
    </ul>
  </div>
</div>
